<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener</title>
</head>

<body>
  <% if (userEmail) { %>
  <p> You are logged in as: <strong> <%= userEmail %> </strong> </p>
    <form method="POST" action="/logout">
      <input type="submit" value="Log out" >
    </form>
  <% } else { %>
  <a href = "/register"> Register </a>
  <br/>
  <a href = "/login"> Log in </a>
  <% } %>
</body>
</html>
