<!DOCTYPE html>
<html lang="en">
<body>
  <% include partials/_header %>
  <p> ShortURL: <%= shortURL %> <p>
  <form method="POST" action="/urls">
    <input type="hidden" name="shortURL" value="<%= shortURL %>">
    <input type="text" name="longURL" value="<%= longURL %>">
    <input type="submit" value="Update" >
  </form>
</body>
</html>
