<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <!-- Write EJS code here to display shortened links -->
    <ul>
      <% for (i in urls) {%>
        <li>
          <%= urls[i] %>
          <form method="POST" action="/urls/<%= i %>/delete">
            <input type="submit" value="DELETE this URL">
          </form>
          <form method="POST" action="/urls/<%= i %>/">
            <input type="submit" value="EDIT this URL">
          </form>
        </li>
      <% } %>
    </ul>

  <a href='/urls/new'> Shorten a New ULR </a>

</body>
</html>
